.container{
    display: grid;
    grid-template-columns: repeat(8,30px);
    grid-template-rows: repeat(8,30px);
    
}
.A{
    background-color: red;
    display: flex; 
    justify-content: center;
}
.B{
    background-color: grey;
    display: flex; 
    justify-content: center;
}